body {
    font-size: 16px;
    font-family: helvetica;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    background-color: #eee;
    border-bottom: 2px solid #fff;
    box-shadow: 0 0 15px rbga(0,0,0,.25);
}

#search {
    background-color: #000;
    padding: 15px;
}

#search form {
    float: right;
    padding-left: 10px;
}

#search i {
    color: #fff;
    font-size: 16px;
    float: right;
    margin: 0 10px;
}

#logo {
    height: 100px;
    float: left;
}

#nav {
    margin: 0px;
    padding: 0px;
    text-align: right;
    float: right;
}

#nav li {
    display: block;
    float: left;
}

#nav li a {
    display: block;
    padding: 42px 15px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
    border-right: 1px dotted #aaa;
    transition: all .2s linear;
}

#nav li a#first-link {
    border-left: 1px dotted #aaa;
}

#nav li a:hover {
    background-color: skyblue;
    color:white;
}