body {
    font-size: 16px;
    letter-spacing: .5px;
}
h1, h2{
    margin-left: 70px;
}
form li {
    list-style: none;
    margin-bottom: 5px;
    margin-left: 30px;
}
form input {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 70px;
}
form ul li label{
    float: left;
    clear: left;
    width: 100px;
    font-size: 14px;
    margin-top: 10px;
}
form ul li input, select, span{
    float: left;
    margin-left: 10px;
}
button{
    margin-top: 10px;
    margin-left: 70px;
}
.clear{
    clear: both;
}