html,body {
  height: 100%;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  /* background-color: #f5f5f5;
  background-color: #0288D1; */
}


a {
  text-decoration: none;
}
li a {
  text-decoration: underline;
  color: #0288d1;
}

.fixed-background{
  background-image: url("background.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.scrollable{
  min-height: 100%;
}

.mdl-card__supporting-text{

  width:100%;
  padding-right: 16px;
}

.userlogin-container{
  position: relative;
  display: flex;
  justify-content: center;
}

.mdl-textfield__label{
  color: #fff;
}

.mdl-card {
  overflow: visible;
  justify-content: center;
}
.grecaptcha-logo {
  background-color: white;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-layout__header-row {
  padding: 0;
}
.quickstart-user-details-container, .user-details-container {
  margin-top: 20px;
  line-height: 25px;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.google-box{
  padding-top: 16px
}

#googlebox{
  align-items: center;
  justify-content: center;
}

#sign-in-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

#newUser{
  color: inherit;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#submitbutton{
  color: inherit;
  background-color: inherit;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#userinfo{
  color: black;
  font
}

#submitID{
  width:20px;
  padding-left: 0px;
  padding-right: 20px:
}

#exit{
  width:20px;
  padding-left: 20px;
  padding-right: 20px:
}

#login-field{
  /* position: relative; */
  display: flex;
  justify-content: center;
  background-color: white;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.65);
  height: 250px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  border: 2px inherit;
  border-style: solid;
  border-radius: 5px;
}

#page-splash {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: "white";
    color: white;
    flex-direction: column;
}
#google-login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

#website-info{
  color: white;
  border: 2px;
  border-radius: 5px;
  padding-top: 40px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
