h1 {
    margin-left: 70px;
}

form li {
    list-style: none;
    margin-bottom: 5px;
    margin-left: 30px;
}

form ul li label{
    float: left;
    clear: left;
    width: 111px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
}

form ul li input, select, span{
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

button{
    margin-top: 10px;
    margin-left: 70px;
    font-weight: bold;
    
}

.clear{
    clear: both;
<<<<<<< HEAD:public/sign-up.css
}
=======
}
button{
    float: left;
}
>>>>>>> dev:public/auth/sign-up.css
